:host {
  padding: 20px;
  box-sizing: border-box;
  background: #bbe9f8;
  display: flex;
  width: 200px;
  heighT: 200px;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
}

.gif {
  width: 100px;
  height: 100px;
  border: none;
  box-shadow: none;
  align-self: center;
  background: white;
}

.title, .date {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  align-self: center;
  font-size: .8em;
  text-align: center;
  width: 100%;
}
