<form class="form" [formGroup]="form">
  <input type="text" placeholder="query" formControlName="title" class="input title">

  <select class="input select" type="text" formControlName="sort" class="select">
    <option *ngFor="let sortType of sort" [value]="sortType">{{sortType}}</option>
  </select>
  <button class="btn input" [disabled]="form.invalid" (click)="search()">Search
  </button>
</form>
